.header__lang-link {
    text-decoration: none;
    color: white;
    text-align: right;
    font-size: 24px;
    line-height: 28px;
}

.header__lang-link:hover {
    border-bottom: 1px solid white;
    opacity: .8;
}

@media (max-width: 500px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
    }
}