.cover__link {
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: rgba(0, 0, 0, .3);
    transition: all 1s ease-in-out;
    min-height: 740px;
}

.cover__link:hover {
    background-color: rgba(0, 0, 0, .8);
}

@media (max-width: 1024px) {
    .cover__link {
        min-height: 640px;
        
    }
}

@media (max-width: 768px) {
    .cover__link {
        
        min-height: 480px;
        
    }
}

@media (max-width: 320px) {
    .cover__link {      
        min-height: 200px;
    }
}