.page {
    min-width: 320px;
    max-width: 1280px;
    margin: 0 auto;
    font-family: "Inter", Arial, sans-serif;
    text-rendering: optimizeLegibility;
    color: white;
    background-color: #e5e5e5;
}