.lead {
    max-width: 984px;
    margin: 0 auto 92px;
    box-sizing: border-box;
}

@media (max-width: 1024px) {
    .lead {
        max-width: 928px;
    }
}

@media (max-width: 926px) {
    .lead {
        max-width: 100%;
        margin: 0 auto 88px;
    }
}



@media (max-width: 320px) {
    .lead {
        margin: 0 auto 64px;
        max-width: 100%;
    }
}