.cover {
    margin: 0 auto 92px;
    max-width: 1184px;
    min-height: 740px;
    width: 100%;
    background-image: url(../../images/cover-trains.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


@media (max-width: 1024px) {
    .cover {
        min-height: 640px;
        max-width: 1024;
    }
}

@media (max-width: 768px) {
    .cover {
        margin: 0 auto 88px;
        min-height: 480px;
        max-width: 768;
    }
}

@media (max-width: 320px) {
    .cover {
        margin: 0 auto 64px;
        min-height: 200px;
        max-width: 320px;
    }
}