.place__url-heading {
    color: #aaa;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
    margin: 0 0 12px 0;
    text-transform: uppercase;
}

@media (max-width: 425px) {
    .place__url-heading {
        line-height: 12px;
        }
}